* {
  margin: 10px;
  padding: 10px;
}

  header {
    background: linear-gradient(to right, rgba(69, 5, 189, 0.658), rgb(233, 233, 233));
    height: auto;
    width: 100%;

  }

  body {
    background-color: lavender;

  }